
h1 {
	text-shadow:1px 1px 2px orange, 0 0 1em pink, 0 0 0.2em blue;
}
	

table {
		border: 1px solid black;
}
td:hover {
			background-color: gold;
			color:black;
}
tr, th{
		background-color: darkblue;
		color:snow;
}
tr, td{
		background-color:darkgreen;
		color:orange;
}

ol{
	list-style-type:upper-roman;
}
ul{
	list-style-type: square;
}
