
table {
		border: 1px solid black;
}
td:hover {
			background-color: gold;
			color:black;
}
tr, th{
		background-color: darkblue;
		color:snow;
}
tr, td{
		background-color:darkgreen;
		color:orange;
}

